$scrollbar-size-default: 7px;
$tools-container-height: 45px;

// MARGINS AND PADDINGS

$content-padding: 30px;
$left-toolbar-p-left: 27px;
$left-toolbar-p-right: 19px;
$left-toolbar-p-top: 90px;
$left-toolbar-p-bottom: 20px;
