.main-container {
  display: flex;
  flex-direction: row;
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    .footer-text {
      bottom: 5px;
      font-size: 12px;
      position: absolute;
      right: 20px;
    }
    .footer-logo {
      width: 14px;
    }
  }
}
